* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.calculator-title {
    margin-bottom: 50px;
    font-size: 30px;
    text-decoration: solid;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    border: 6px solid rgb(37, 36, 36);
    border-radius: 10px;
    background-color: black;

}

.display-container {
    display: flex;
    height: 90px;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px;
    border-radius: 10px;
    background-color: lightgrey;
}

.display {
    font-size: 30px;
    font-weight: bold;
    padding-right: 2px; 
}

.buttons-container {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}

.clear {
    width: 40px;
    height: 30px;
    background-color: lightskyblue;
    border-radius: 10px;
    border: 1px solid darkgrey;
}

.equal {
    width: 40px;
    height: 30px;
    background-color: orangered;
    border-radius: 15px;
    border: 1px solid darkgrey;
}

.numbers {
    width: 40px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px darkgrey;
    background-color: darkcyan;

}

.operand {
    background-color: orangered;
    width: 40px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid slategray;
}

.zero {
    width: 100px;
}


.backspace {
    width: 40px;
    height: 30px;
    background-color: lightskyblue;
    border-radius: 10px;
    border: 1px solid darkgrey;
}